{% extends 'myapp/base.html' %}
{% block content %}
<div class="container">
        <div class="row">
            <div class="col-sm-6 mx-auto" style="margin-top: 70px">
                <h2>Find bus</h2>
                <form action="{% url 'findbus' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Source</label>
                        <div class="col-10">
                            <input name='source' class="form-control" type="text" id="example-email-input">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label">Destination</label>
                        <div class="col-10">
                            <input name='destination' class="form-control" type="text">
                        </div>
                    </div>
                    <div class="form-group row">
                        <label for="example-email-input" class="col-2 col-form-label" >Date</label>
                        <div class="col-10">
                            <input name='date' class="form-control" type="date">
                        </div>
                    </div>
                    <div class="pull-right">
                        <button type="submit" class="btn btn-primary float-right">Find bus</button>
                    </div>
                    {{error}}

                </form>
            </div>
        </div>

    </div>

{% endblock %}