{% extends 'myapp/base.html' %}
{% load crispy_forms_tags %}
{% block content %}
<h3>{{msg}}</h3>
<h2>Buses Booked/Cancelled</h2>
<table class="table table-striped">
    <thead>
    <td>BOOKING ID</td>
    <td>PASSENGER</td>
    <td>BUS NAME</td>
    <td>SOURCE</td>
    <td>DESTINATION</td>
    <td>NUM OF SEATS</td>
    <td>PRICE(KES)</td>
    <td>DATE</td>
    <td>TIME</td>
    <td>STATUS</td>


    </thead>

    {% for row in book_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.bus_name}}</td>
        <td>{{row.source}}</td>
        <td>{{row.dest}}</td>
        <td>{{row.nos}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.time}}</td>
        <td>{{row.status}}</td>


    </tr>
    {% endfor %}
</table>
    <div class="content-section">
        <form action="{% url 'cancellings' %}" method="post">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Cancel Booking</legend>
                {{ form|crispy }}
            </fieldset>
            <div>
                <input name='bus_id' class="form-control" type="number" id="example-email-input" placeholder="Enter ID of the Bus to Cancel from table above">
            </div>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Cancel</button>
            </div>
            {{error}}
        </form>
    </div>
{% endblock content %}
